<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <title>Capstone | Travel App</title>
</head>
<body>
    <div class="app">
        <div class="container title">
            <h1>Weather Journal</h1>
            <p>A place to log the weather <br>and how you feel about it.</p>
        </div>
        <div class="container zip">
            <label for="zip">Enter City:</label>
            <input type="text" id="zip" placeholder="enter city here">
        </div>
        <div class="container feelings">
            <label for="feelings">How are you feeling today?</label>
            <textarea id="feelings" rows="5" placeholder="enter feelings here"></textarea>
            <button id="generate" type="submit"> Generate </button>
        </div>
        <div class ="container entry">
            <h2>Results</h2>
            <div id="entryHolder">
                <div class="entry" id="lat"></div> 
                <div class="entry" id="long"></div>
                <div class="entry" id="state"></div>
                <div class="entry" id="country"></div>
            </div>
        </div>
    </div>

    <!-- <script src="./app.js"></script> -->
</body>
</html>