<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <title>Capstone | Travel App</title>
</head>
<body>
    <div class="app">
        <div class="container title">
            <h1>Travel App</h1>
            <p>A place to track your <br>upcoming trip.</p>
        </div>
        <div class="container city">
            <label for="city">Enter City:</label>
            <input type="text" id="city" placeholder="enter city here">
        </div>
        <div class="container date">
            <label for="date">Enter trip date:</label>
            <input type="date" id="date" min="2020-01-01" max="2022-12-31">
            <button id="generate" type="submit"> Save Trip </button>
        </div>
        <div class="container countdown">
            <label for="countdown">Trip countdown:</label>
            <div id="countdown"></div>
        </div>
        <div class ="container entry">
            <h2>Results</h2>
            <div id="entryHolder">
                <div class="entry" id="lat"></div> 
                <div class="entry" id="long"></div>
                <div class="entry" id="state"></div>
                <div class="entry" id="country"></div>
            </div>
        </div>
        <div class ="container weather">
            <h2>Weather</h2>
            <div id="weatherHolder">
                <div class="weather" id="high"></div> 
                <div class="weather" id="low"></div>
                <div class="weather" id="summary"></div>
            </div>
        </div>
    </div>

    <!-- <script src="./app.js"></script> -->
</body>
</html>