<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Capstone | Travel App</title>
</head>
<body>
    <div class="app">
        <div class="container title">
            <h1>Travel App</h1>
            <p>A place to track your <br>upcoming trip.</p>
        </div>
        <div class="container city">
            <label for="city">Enter City:</label>
            <input type="text" id="city" placeholder="enter city here">
        </div>
        <div class="container date">
            <label for="date">Enter trip date:</label>
            <input type="date" id="date" min="2020-01-01" max="2022-12-31">
            <button id="addtrip" type="submit" class="btn"> Save Trip </button>
        </div>
        <div class="container trip" id="trip">
            <h2>Saved trip:</h2>
            <div class="container city">
                <h3 id="destination">Destination</h3>
                <h3 id="tripdate">Date</h3>
            </div>
            <div class ="container photo" id="photo"></div>
            <div class ="container countdown">
                <h3>Countdown</h3>
                <div id="countdown"></div>
            </div>
            <div class ="container weather">
                <h3>Weather</h3>
                <div id="weatherHolder">
                    <div class="weather" id="high"></div> 
                    <div class="weather" id="low"></div>
                    <div class="weather" id="summary"></div>
                    <a href="https://darksky.net/poweredby/">Powered by DarkSky</a>
                </div>
            </div>
            <button id="deletetrip" type="submit" class="btn"> Delete Trip </button>
        </div>
    </div>

</body>
</html>