/* Site-wide design */
$primary-color: #a14329;
$secondary-color: #bb9236;
$background-color: #a3b4a4;
$button-hover-color: #667467;
$text-color: #130c1e;
$text-hover-color: #fff;
$border-radius: 10px;


/* Site-wide layout */
* {
    margin: 0;
    padding: 0;
    color: $text-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding-top: 40px;
}

.app {
    padding: 40px 0;
    margin: auto;
    width: 450px;
    background: $background-color;
    display: grid;
    justify-content: center;
    border-radius: $border-radius;
}

.container {
    text-align: center;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    padding-bottom: 10px;
}

#city {
    padding: 10px 0;
    text-align: center;
    font-size: 1em;
    width: 160px;
}

#date {
    padding: 10px;
    width: 100%;
    font-size: 1em;
}

#generate {
    margin-top: 20px;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 1em;

    &:hover {
        background-color: $button-hover-color;
        color: $text-hover-color;
    }
}

h2 {
    padding-bottom: 20px;
}

.entry {
    padding-bottom: 20px;
}